@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind utilities;

@layer utilities {
    .animate-marquee {
        animation: marquee linear infinite;
    }

    .animate-marquee-reverse {
        animation: marquee-reverse linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    @keyframes marquee-reverse {
        0% {
            transform: translateX(-50%);
        }

        100% {
            transform: translateX(0);
        }
    }
}

@import "tailwindcss";

@theme {
    --color-blauw: #081534;
    --color-lblauw: #92AEC3;
    --color-offwit: #F4F9FF;
    --color-groen: #038A6F;
    --color-groendark: #006551;


    --font-body: "Montserrat", sans-serif;
    --font-accent: "Poppins", sans-serif;
    --font-heading: "Inter", sans-serif;
}

@layer base {
    .dark {
        --color-drblauw: #0A1C45;
        --color-drlblauw: #4A6A85;
        --color-drbr: #121826;
        --color-drgroen: #03A184;
        --color-drgroendark: #017A63;
    }

    body {
        background-color: var(--color-offwit);
    }

    .dark body {
        background-color: var(--color-offwit);
    }
}