@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind utilities;

@layer utilities {
    .animate-marquee {
        animation: marquee linear infinite;
    }

    .animate-marquee-reverse {
        animation: marquee-reverse linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    @keyframes marquee-reverse {
        0% {
            transform: translateX(-50%);
        }

        100% {
            transform: translateX(0);
        }
    }
}

@import "tailwindcss";

@layer base {
    :root {
        /* Convert hex to RGB for Tailwind 4 compatibility */
        --color-blauw: 8 21 52;
        /* #081534 */
        --color-lblauw: 146 174 195;
        /* #92aec3 */
        --color-offwit: 244 249 255;
        /* #F4F9FF */
        --color-groen: 3 138 111;
        /* #038a6f */
        --color-groendark: 0 101 81;
        /* #006551 */
        --color-blauwaidsvelk: 117 156 224;
        /* #759CE0 */

        --font-body: "Montserrat", sans-serif;
        --font-accent: "Poppins", sans-serif;
        --font-heading: "Inter", sans-serif;
    }

    .dark {
        --color-blauw: 10 28 69;
        /* #0a1c45 */
        --color-lblauw: 74 106 133;
        /* #4a6a85 */
        --color-offwit: 18 24 38;
        /* #121826 */
        --color-groen: 3 161 132;
        /* #03a184 */
        --color-groendark: 1 122 99;
        /* #017a63 */
        --color-blauwaidsvelk: 74 119 192;
        /* #4a77c0 */
    }

    body {
        background-color: rgb(var(--color-offwit));
        color: rgb(var(--color-blauw));
    }

    .dark body {
        color: rgb(226 232 240);
    }
}